* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


h3 {
    text-align: left;
    width: 100%;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--cor-texto-h3);
}


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    display: flex;
    flex-direction: column;
    background-color: var(--cor-bg);
    overflow-x: hidden;
}



a {
    text-decoration: none;
    color: inherit;
}

main {
    padding: var(--espacamento-padrao-tela)
}

input {
    outline: none;
}

.radio {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}