/* HEADER */
.session-button {
    cursor: pointer;
}

header {
    background-color: var(--cor-bg-header);
    padding: var(--espacamento-padrao-tela);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

header .logo svg {
    fill: var(--cor-primaria);
    height: 32px;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}


.logo-titulo {
    font-size: 1rem;
    /* color: var(--cor-primaria); */
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    gap: 16px;
    color: var(--cor-secundaria);
    font-weight: bold;
}

.nav-usuario form{
    display: flex;
    gap: 16px;
    align-items: center;
    font-weight: bold;
}

.session-button {
    background-color: var(--cor-destaque-dark);
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}

.form-user {
    display: inline-flex;
}

.header-foto-perfil {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

/* FOOTER */
footer {
    background-color: var(--cor-bg-header);
    text-align: center;
    margin-top: auto;
    padding: var(--espacamento-padrao-tela);
}




@media (max-width: 576px) {
    header nav {
        flex-wrap: wrap; 
        gap: 16px;
        justify-content: center; 
    }

    .logo {
        width: 100%;
        justify-content: center;
        gap: 8px;
    }

    .nav-links {
        width: 100%;
        justify-content: center;
        text-align: center;
        gap: 16px;
    }

    .nav-usuario form {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap; 
        gap: 12px;
    }
}