/* HEADER */
.session-button {
    cursor: pointer;
}

header {
    background-color: var(--cor-bg-header);
    padding: var(--espacamento-padrao-tela);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-titulo {
    font-size: 1.5rem;
    /* color: var(--cor-primaria); */
}

.nav-links {
    display: flex;
    gap: 1rem;
    color: var(--cor-secundaria);
    font-weight: bold;
}

.session-button {
    background-color: var(--cor-destaque-dark);
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.form-user {
    display: inline-flex;
}

.header-foto-perfil {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

/* FOOTER */
footer {
    background-color: var(--cor-bg-header);
    text-align: center;
    padding: var(--espacamento-padrao-tela);
}