@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "";
    src: url();
}

:root{
    --fonte-padrao: "Roboto", sans-serif;
    --cor-padrao: #000000;
}