@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "";
    src: url();
}

:root {
  --espacamento-padrao-tela: 0.5rem 2rem;

  --fonte-padrao: "Roboto", sans-serif;
  --cor-fonte-padrao: #2C2820;

  --cor-bg: #FAF6EE;
  --cor-bg-surface: #FECDAE;

  --cor-primaria: #D5742D;
  --cor-destaque: #E0A740;
  
  --cor-destaque-light: #FBCB83;
  --cor-destaque-dark: #D5742D;
  --cor-borda: #E19A5D;

  --bs-link-color-rgb:#D5742D;


  --cor-erro: #D5742D;
  --cor-sucesso: #E0A740;
}